<div id="custom-preloader">
  <div class="custom-loader" style="display: none;">
    <img width="32" height="32" alt="Page Loader" class="lazyload" data-src="{{ 'ajax-loader.gif' | asset_url }}">
  </div>
</div>